<div class="d-flex justify-content-between align-items-start border-bottom">
    <h2>Usuario</h2>
    <div class="aside__close-button" style="cursor: pointer;">
        <i id="aside__close-button" class="fas fa-times fa-lg"></i>
    </div>
</div>

<div class="aside__body">
    <p id="edit-profile" class="aside__option border-bottom p-3 m-0 mt-4">Perfil</p>
    <p id="edit-security" class="aside__option border-bottom p-3 m-0">Seguridad</p>
    <a class="close-session text-dark" href="{{ path('app_logout') }}"><p class="border-bottom p-3 m-0">Cerrar sesión</p></a>
</div>