<form method="post" action="{{ path('admin_delete', {'id': admin.id}) }}" onsubmit="return confirm('Al aceptar borrarás este usuario definitivamente, ¿deseas hacerlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id) }}">
    <button class="delete-user-button"><i class="fas fa-trash-alt text-danger"></i></button>
</form>
