{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <p class="display-1">Lo sentimos, ha ocurrido un error</p>
    <p class="h3">Si necesita ayuda, contacte con un administrador</p>
{% endblock %}