{% extends 'bundles/TwigBundle/Exception/base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <p class="display-1">Error 404</p>
    <p class="h3">La página que buscas no existe</p>
{% endblock %}